@charset "UTF-8";
/* Dropdown Button */
.dropbtn {
    background: rgba(76, 175, 80, 0.1);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    filter: alpha(opacity=100); 
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    /*position: relative;*/
    display: inline-block;
    margin-right: 100px;
    margin-top:5px;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:50px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12pt;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}